<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @customer.billing_address %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @customer.shipping_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @customer.postal_code %>
</p>

<p>
  <strong>Province:</strong>
  <%= @customer.province_id %>
</p>

<p>
  <strong>Credit limit:</strong>
  <%= @customer.credit_limit %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @customer.email_address %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
