%p#notice= notice
%p
  %strong Name:
  = @category.name
%p
  %strong Description:
  = @category.description

= render partial: 'products/product', collection: @category.products

    
|
\#{link_to 'Back', categories_path}