%p#notice= notice
%p
  %strong Name:
  = @category.name
%p
  %strong Description:
  = @category.description

-@category.products.each do |product|
  %section.item
    %p= link_to product.name, "products/#{product.id}"
    %p= product.description  
    %p= "Price: #{number_to_currency(product.price)}"
    %p= "In Stock: #{product.stock_quantity}"    
    %p.image= link_to image_tag(product.image), product
    
|
\#{link_to 'Back', categories_path}