%section.item
  %p.image= link_to image_tag(product.image), product
  %p= link_to product.name, product
  %p.description= product.description
  %p.category
    -if product.category.present?
      =link_to "#{product.category.name}", product.category
    -else
      = "None."
  %p= "Price: #{number_to_currency(product.price)}"
  %p= "In Stock: #{product.stock_quantity}"
  %section{id: "add_to_cart"}
    =form_tag cart_path method: 'post' do
      =text_field_tag :qty
      %input{type: "hidden", name: "product_id", value: product.id}
      =submit_tag "Add to Cart"
