%section.item
  %p= link_to product.name, product
  %p{:id => "description"}= product.description
  %p.category
    -if product.category.present?
      =link_to "#{product.category.name}", product.category
    -else
      = "None."
  %p= "Price: #{number_to_currency(product.price)}"
  %p= "In Stock: #{product.stock_quantity}"    
  %p.image= link_to image_tag(product.image), product