!!!
%html
  %head
    %title The Underpants Gnomes Used Underpants Emporium!
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %section{:id => "container"}
      %header
        #logo
          = link_to image_tag("logo.png"), "/"
        %h1{:id => "header_line"}= link_to "Underpants Gnome's ", "/"
        %h1{:id => "header_line2"}= link_to "Used Underpants Emporium", "/"
        %nav
          %ul
            %li
              = link_to "Home", "/" 
            %li
              = link_to "Products", "/products"
            %li
              = link_to "About Us", "/abouts"
            %li
              = link_to "Contact Us", "/contacts"
        %section.clearfix       
      %section{:id => "maincontent"}
        %section{:id => "sidebar_nav"}= render :partial => "categories/sidebarnav"
          
          
        %section{:id => "content"}= yield
        %section.clearfix
      %footer
        %nav
          %ul
            %li
              = link_to "Home", "/"
            %li
              = link_to "Products", "/products"
            %li
              = link_to "About Us", "/abouts"
            %li
              = link_to "Contact Us", "/contacts"
        %h5 &copy;opyWrong Underpants Gnome's Used Underpants Emporium
        %section.clearfix
        
    

  
    
